* {
  font-family: Roboto Condensed, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #112240;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.view-task-body {
  background-color: #112240;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.main-container {
  background-color: #bd9d2a;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px;
  padding: 15px;
  overflow: hidden;
}

.cmain-container {
  background-color: #bd9d2a;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px;
  padding: 15px;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  .main-container h1 {
    font-size: 20px;
  }

  .vmain-container {
    display: none;
  }
}

@media screen and (max-width: 330px) {
  .main-container {
    display: none;
  }

  .vmain-container {
    display: none;
  }
}

.main-container h1 {
  margin-bottom: 10px;
}



.btn-container button {
  border-radius: 8px;
  color: #ffffffde;
  background-color: #182742;
  font-weight: bold;
  padding: 8px 10px;
  border: none;
  margin-inline: 8px;
  margin-top: 12px;
}

button:hover {
  cursor: pointer;
  opacity: .9;
}

button:active {
  opacity: 0.7;
}

#create-btn {
  margin-bottom: 15px;
}


/*#######CREATE A TASK##########3*/

#user-data {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 300px;
  padding-inline: 10px;
}

#user-data label {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  margin-top: 10px;
}

#user-data input {
  border-radius: 6px;
  padding: 8px;
  border: none;
  transition: all .15s;
}

#user-data input:focus,
#user-data select:focus,
#user-data textarea:focus  {
  outline: none;
  box-shadow: inset 0 0 0 2px #112240;
}

#user-data select {
  padding: 6px;
  border-radius: 8px;
  transition: all .15s;
}

textarea {
  border-radius: 6px;
  transition: all .15s;
  width: 100%;
  padding: 6px;
}


/*#########SUCCESS CREATING TASK##########*/

.success-container {
  background-color: #112240;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px;
  padding: 15px;
  overflow: hidden;
  margin: 120px auto ;
  color: #e1c971;
}

.success-container h1 {
  margin-bottom: 8px;
}

.success-container button {
  background-color: #85722f;
}


/*###########VIEW CURRENT TASKS#############*/

.vmain-container {
  background-color: #bd9d2a;
  width: 100%;
  max-width: 900px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 100px;
}

.tab-menu {
  display: flex;
  background-color: #b4a055;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  width: 100%;
  border-bottom: 3px solid #112240;
}

.tab-menu .title {
  font-weight: 700;
  transition: all 0.15s;
}

.tab-menu .title:hover {
  color:#e1c971;
  cursor: pointer;
}

.selected {
  font-size: 2rem;
  color: #fff;
  transition: all 0.15s;
}

.tasks-container {
  border-radius: 10px;
  margin: auto;
  width: 90%;
  border-color: #112240;
  display: flex;
  gap: 15px;
  justify-content: center;
}

@media screen and (max-width: 820px) {
  .tasks-container {
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
  }
}

legend {
  font-weight: 700;
  font-size: 1.3rem;
}

.personal-container {
  margin-bottom: 15px;
}

/*###############TASK BOXES ############*/

.task-box {
  border-radius: 6px;
  background-color: #112240;
  border: 3px inset #fff;
  color: #bd9d2a;
  padding: 10px;
  width: 300px;
  margin-top: 10px;
}

.task-box-div {
  border: 2px inset #bd9d2a;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 8px;
}

.task-box legend {
  color: #ffc800;
  font-size: 1.5rem;
  background-color: #112240;
  border: 3px inset #fff;
  border-radius: 6px;
  padding-inline: 10px;
}

.task-box strong {
  font-size: 1.2rem;
  color: #dee0bd;
}

.task-box .closing-tag {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-inline: 10px;
  margin-bottom: 10px;
}

.closing-tag #close {
  color: #ff0000;
  transform: scale(1.5);
}

.closing-tag #check {
  color: #00ff00;
  transform: scale(1.5);
}

#check:hover,
#close:hover {
  cursor: pointer;
  opacity: .9;
}

#check:active,
#close:active {
  opacity: .7;
}

.empty-container {
  color: #112240;
}

.empty-container h1 {
  margin-top: 20px;
}

.empty-container img {
  width: 300px;
}

.task-box-div-deleted {
  background-color: #831e1e;
  border-radius: 6px;
  border: 3px inset #fff;
  color: #bd9d2a;
  padding: 8px;
  margin-bottom: 8px;
}

.task-box .closing-tag-deleted {
  display: flex;
  align-items: center;  
  justify-content: center;
  width: auto;
  padding-inline: 10px;
  color: #ff0000;
}

.closing-tag-deleted button {
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
  margin-inline: 6px;
  margin-bottom: 6px;
  color: #fff;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closing-tag-deleted i {
  font-size: .8rem;
  margin-left: 8px;
}

.pdelete-btn {
  background-color: #ff0000;
}

.restore-btn {
  background-color: #01a201;
}

.task-box-div-concluded {
  background-color: #01a20180;
  border-radius: 6px;
  border: 3px inset #fff;
  color: #bd9d2a;
  padding: 10px;
  margin-bottom: 8px;
}


.closing-tag-concluded {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closing-tag-concluded button {
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
  margin-inline: 6px;
  margin-bottom: 6px;
  background-color: #fae506;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 1px #fae506;
}

.closing-tag-concluded i {
  font-size: .8rem;
  margin-left: 8px;
}

/*########## EDIT TASK ###################33*/

.edit-container button {
  padding: 8px 35px;
  font-size: 1.6rem;
  border-radius: 6px;
  border: none;
  background-color: #112240;
  margin-inline: 20px;
  margin-top: 10px;
}

.edit-container .save-btn {
  color: #1aed1a;
}

.edit-container .discard-btn {
  color: #cc1313;
}

.edit-btn {
  padding: 2px 10px;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
  background-color: #707070;
  color: #fff;
}

.edit-btn i {
  margin-left: 8px;
}

.hidden {
  display: none;
}

.expand {
  height: 85vh;
  display: block;
}

/*#############ARE U SURE CONTAINER###################*/

.red-color {
  background-color: #b51a1a;
  color: #fff;
  padding: 3px 10px;
  border-radius: 6px;
  font-size: 2rem;
}

.info-p {
  font-size: 1.4rem;
}

.green-color {
  color: #fff;
  background-color: #b51a1a;
  padding: 3px 10px;
  border-radius: 6px;
  font-size: 1.6rem;
}

.confirm-alert {
  margin-top: 15px;
  color: #112240;
  font-size: 1.5rem;
}

.modify {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.yn-container {
  margin-bottom: 30px;
}

.yn-container button {
  margin-inline: 20px;
  padding: 6px 20px;
  font-size: 1.3rem;
  border: none;
  border-radius: 6px;
  background-color: #112240;
}

.yes-btn {
  color: #1aed1a
}

.no-btn {
  color: #cc1313;
}